<div id="wrapper" class="container-fluid page-bg-white">
    <div id="page-wrapper " class="padding-top-60 m-b-lg m-l-none m-r-none">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <h1>You are not authorized to access this page.</h1>
                <div class="m-t-md">
                    <p>
                        Please check with your Administrator to confirm that you have the appropriate privileges to
                        access
                        this page.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 m-t-md">
                <a class="btn btn-primary dark-green" ui-sref="fe.login">
                    Back to previous Page
                </a>
            </div>
        </div>
    </div>
</div>