<nav class="navbar-default navbar-static-side fix-sidebar" role="navigation" >
    <div class="sidebar-collapse">
        <ul mhc-side-navigation class="nav" id="side-menu">
            <li class="nav-header">
                <mhc-profile-menu></mhc-profile-menu>
            </li>

            <li ui-sref-active="active" >
                <a ui-sref="fe.index.home"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </li>
            <li ng-class="{active: $state.includes('fe.patientMedicalDocument')}" >
                <a ui-sref="fe.patientMedicalDocument.search"><i class="fa fa-folder-open"></i> <span class="nav-label">Patient Documents</span></a>
            </li>
        </ul>
    </div>
</nav>