<script type="text/ng-template" id="admin-messages">
    <div ng-message="required">Please complete this required field.</div>
    <div ng-message="minlength">The field should contain at least 2 characters, please try again.</div>
    <div ng-message="maxlength">The field cannot contain more than 30 characters, please try again.</div>
    <div ng-message="isValidDate">Dates must be in the following format: mm/dd/yyyy</div>
    <div ng-message="isFutureDate">Date of birth cannot be today's date, or a future date.</div>
    <div ng-message="email">The email address you have provided must be valid, please try again.</div>
    <div ng-message="isValidSSN">Please provide a valid social security number. For example 123456789 or 123-45-6789.
    </div>
    <div ng-message="isValidPhoneNumber">Please provide a valid telephone number containing a minimum of 10 digits.
    </div>
    <div ng-message="isValidFiveDigitZipcode">Please provide a valid zip code containing a minimum of 5 digits.</div>
    <div ng-message="isValidTenDigitZipcode">Please provide a zip codes that is no greater than 10 characters.</div>
    <div ng-message="isValidName">Please provide a valid name without any numbers and special characters other than a
        hyphen.
    </div>
</script>


<div class="row">
    <div class="col-sm-12">
        <div class="p-xs alert alert-warning" role="alert">
            <strong>Please Note. All fields with * are required to create a User Account. Additional
                Information may also be added as provided.</strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="text-navy-blue col-sm-offset-3 col-sm-7 col-md-offset-2 col-md-5 col-lg-4">
        <div class="font-medium font-size16 m-t-xs m-b-sm">Required Information</div>
        <div class="row">
            <div class="col-sm-12">
                <div class="m-b border-bottom side-padding15"></div>
            </div>
        </div>
    </div>
</div>
<form class="form-horizontal" name="PatientForm" novalidate>
    <div class="form-group">
        <label for="firstName" class="col-sm-3 col-md-2 control-label">First Name <span
                class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input id="firstName"
                   name="firstName"
                   type="text"
                   class="form-control"
                   placeholder="First name" c2s-validate-name
                   ng-model="patientCreateEditVm.patient.firstName"
                   required
                   ng-minlength="2"
                   ng-maxlength="30">
            <div ng-messages="PatientForm.firstName.$error" ng-if="PatientForm.firstName.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="lastName" class="col-sm-3 col-md-2 control-label">Last Name <span
                class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input id="lastName"
                   name="lastName"
                   type="text"
                   class="form-control"
                   placeholder="Last name"
                   ng-model="patientCreateEditVm.patient.lastName"
                   c2s-validate-name
                   required
                   ng-minlength="2"
                   ng-maxlength="30">
            <div ng-messages="PatientForm.lastName.$error" ng-if="PatientForm.lastName.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-3 col-md-2 control-label">Email <span class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input id="email"
                   name="email"
                   type="email"
                   class="form-control"
                   placeholder="Email"
                   c2s-validate-email
                   required
                   ng-model="patientCreateEditVm.patient.email">
            <div ng-messages="PatientForm.email.$error" ng-if="PatientForm.email.$dirty" class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3 col-md-2 control-label bold">Gender <span class="text-alert">*</span></div>
        <fieldset class="col-sm-7 col-md-6">
            <legend class="hidden">Gender Selection</legend>
            <div class="radio">
                <label for="male" class="side-padding0">
                    <input id="male"
                           name="gender"
                           type="radio"
                           c2s-icheck
                           ng-model="patientCreateEditVm.patient.genderCode"
                           value="M"
                           required/>&nbsp;&nbsp;Male
                </label>
            </div>
            <div class="radio">
                <label for="female" class="side-padding0">
                    <input id="female"
                           name="gender"
                           type="radio"
                           c2s-icheck
                           ng-model="patientCreateEditVm.patient.genderCode"
                           value="F"
                           required/>&nbsp;&nbsp;Female
                </label>
            </div>
        </fieldset>
    </div>
    <div class="form-group">
        <label for="dateOfBirth" class="col-xs-12 col-sm-3 col-md-2 control-label">Date of Birth <span
                class="text-alert">*</span></label>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
            <input id="dateOfBirth"
                   name="dateOfBirth"
                   type="text"
                   class="form-control"
                   placeholder="Date of birth"
                   required
                   ng-model="patientCreateEditVm.patient.birthDate "
                   c2s-validate-date
                   c2s-datepicker
                   c2s-format-date>
            <div ng-messages="PatientForm.dateOfBirth.$error" ng-if="PatientForm.dateOfBirth.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-navy-blue col-sm-offset-3 col-sm-7 col-md-offset-2 col-md-5 col-lg-4">
            <div class="font-medium font-size16 m-t-xs m-b-sm">Additional Information</div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="m-b border-bottom side-padding15"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="socailSecurityNumber" class="col-xs-12 col-sm-3 col-md-2 control-label">SSN</label>
        <div class="col-xs-5 col-sm-4 col-md-3">
            <input id="socailSecurityNumber"
                   name="socialSecurityNumber"
                   type="text"
                   class="form-control"
                   placeholder="Social security number"
                   c2s-validate-ssn
                   ng-model="patientCreateEditVm.patient.socialSecurityNumber">
            <div ng-messages="PatientForm.socialSecurityNumber.$error" ng-if="PatientForm.socialSecurityNumber.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="telephoneNumber" class="col-xs-12 col-sm-3 col-md-2 control-label">Telephone</label>
        <div class="col-xs-5 col-sm-4 col-md-3">
            <input id="telephoneNumber"
                   name="telephone"
                   type="text"
                   class="form-control"
                   placeholder="Telephone"
                   c2s-validate-phone-number
                   ng-model="patientCreateEditVm.patient.telephone">
            <div ng-messages="PatientForm.telephone.$error" ng-if="PatientForm.telephone.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="address" class="col-sm-3 col-md-2 control-label">Address</label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input id="address"
                   name="address"
                   type="text"
                   class="form-control"
                   placeholder="Address"
                   ng-model="patientCreateEditVm.patient.address">
        </div>
    </div>

    <div class="form-group">
        <label for="city" class="col-sm-3 col-md-2 control-label">City</label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input id="city"
                   name="city"
                   type="text"
                   class="form-control"
                   placeholder="City"
                   ng-model="patientCreateEditVm.patient.city">
        </div>
    </div>

    <div class="form-group">
        <label for="state" class="col-sm-3 col-md-2 control-label">State</label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <select id="state"
                    name="state"
                    class="form-control"
                    ng-model="patientCreateEditVm.patient.stateCode">
                <option value="">-- choose state --</option>
                <option ng-repeat="s in patientCreateEditVm.states" value="{{s.code}}"
                        ng-selected="s.code == patientCreateEditVm.patient.stateCode">{{s.displayName}}
                </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="zipcode" class="col-xs-12 col-sm-3 col-md-2 control-label">Zipcode</label>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
            <input id="zipcode"
                   name="zipcode"
                   type="text"
                   class="form-control"
                   placeholder="Zip Code"
                   c2s-validate-zipcode
                   placeholder="Zip Code"
                   ng-model="patientCreateEditVm.patient.zip">
            <div ng-messages="PatientForm.zipcode.$error" ng-if="PatientForm.zipcode.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-7 col-sm-offset-3 col-md-offset-2">
            <button class="btn btn-white m-r" type="button" ng-click="patientCreateEditVm.cancel()">Cancel</button>
            <button class="btn btn-primary dark-green"
                    type="submit"
                    ng-click="patientCreateEditVm.createPatient()"
                    ng-disabled="!patientCreateEditVm.canCreate(PatientForm)"
                    ng-if="!patientCreateEditVm.isEditMode()">
                Create Patient
            </button>
            <button class="btn btn-primary dark-green"
                    type="submit"
                    ng-click="patientCreateEditVm.updatePatient()"
                    ng-disabled="!patientCreateEditVm.canCreate(PatientForm)"
                    ng-if="patientCreateEditVm.isEditMode()">
                Update Patient
            </button>
        </div>
    </div>
</form>