<div class="row">
    <div class="col-lg-12 relative">
        <div class="ibox panel panel-navbar-blueGray float-e-margins">
            <div class="ibox-title modified panel-heading right-padding30">
                <div class="chevron_absolute">
                    <div c2s-ibox-tools c2s-chevron-prevent-default="true"></div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="m-b-xxs">{{"PATIENT_VERIFICATION.CONTENTS_1" | translate}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content modified">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="m-b-xxs">{{"PATIENT_VERIFICATION.CONTENTS_2" | translate}}</p>
                        <h3><span ng-bind="patientVerificationVm.verificationEmail"></span></h3>
                    </div>
                    <div class="col-md-6 m-b">
                        <p class="m-b-xxs">{{"PATIENT_VERIFICATION.CONTENTS_3" | translate}}</p>
                        <h3>
                            <span ng-bind="patientVerificationVm.verification.verificationCode"></span>
                            <span ng-if="!patientVerificationVm.verification.verificationCode">---</span>
                        </h3>
                    </div>
                    <div class="col-md-12 m-b-sm" ng-if="!patientVerificationVm.verification.verified">
                        <p>
                            <span>
                                <strong>{{"PATIENT_VERIFICATION.CONTENTS_4" | translate}}</strong>
                            </span>
                            {{"PATIENT_VERIFICATION.CONTENTS_5" | translate}}</p>
                        <p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row relative">
                    <div class="col-xs-9">
                        <div class="left-padding25 statusIcon_created">
                            <p class="inline m-b-xxs m-r-xs">{{"PATIENT_VERIFICATION.CONTENTS_6" | translate}}</p>
                            <p class="inline bold nowrap">
                                <span ng-bind="(patientVerificationVm.accountStatus | translate)"></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3 c2s-activation-button">
                        <!--<button class="btn btn-primary btn-xs dark-green pull-right"
                                type="button"
                                ng-click="patientVerificationVm.sendEmail()"
                                ng-if="!patientVerificationVm.isAccountAlreadyVerified()">
                            <span ng-bind="(patientVerificationVm.sendEmailButtonText | translate)"></span>
                        </button>-->
                        <a href="javascript:void(0)" class="dropdown-toggle btn btn-primary dark-green pull-right" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false"
                           ng-if="!patientVerificationVm.isAccountAlreadyVerified()" >
                            <span ng-bind="(patientVerificationVm.sendEmailButtonText | translate)"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu dark-green" role="menu">
                            <li>
                                <a ng-click="patientVerificationVm.sendEmail('en')" >English</a>
                            </li>
                            <li>
                                <a ng-click="patientVerificationVm.sendEmail('es')">Spanish</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>