<div class="row">
    <div class="col-lg-12 relative">
        <div class="ibox panel panel-navbar-blueGray float-e-margins">
            <div class="ibox-title modified panel-heading right-padding30">
                <div class="chevron_absolute">
                    <div c2s-ibox-tools  c2s-chevron-prevent-default="true"></div>
                </div>

                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="m-b-xxs">Account Activation / Verification Code
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox-content modified">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="m-b-xxs">Activate Account for:</p>
                        <h3><span ng-bind="patientVerificationVm.verificationEmail"></span></h3>
                    </div>
                    <div class="col-md-6 m-b">
                        <p class="m-b-xxs">Verification Code:</p>
                        <h3>
                            <span ng-bind="patientVerificationVm.verification.verificationCode"></span>
                            <span ng-if="!patientVerificationVm.verification.verificationCode">---</span>
                        </h3>

                    </div>
                    <div class="col-md-12 m-b-sm" ng-if="!patientVerificationVm.verification.verified">
                        <p >
                            <span><strong>Please Send Email to generate the Verification
                                Code.</strong></span>
                            Sending an account activation email to the address listed above will generate a unique
                            Verification Code.
                            That Verification Code will be displayed above.</p>
                        <p>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="row relative">
                    <div class="col-xs-9">
                        <div class="left-padding25 statusIcon_created">
                            <p class="inline m-b-xxs m-r-xs">Account Status:</p>
                            <p class="inline bold nowrap"><span ng-bind="patientVerificationVm.accountStatus"/></p>
                        </div>
                    </div>
                    <div class="col-xs-3 c2s-activation-button">
                        <button class="btn btn-primary btn-xs dark-green pull-right" type="button" ng-click="patientVerificationVm.sendEmail()" ng-if="!patientVerificationVm.isAccountAlreadyVerified()">
                            <span ng-bind="patientVerificationVm.sendEmailButtonText"/>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

