<script type="text/ng-template" id="admin-messages">
    <div ng-message="required">Please complete this required field.</div>
    <div ng-message="minlength">The field should contain at least 2 characters, please try again.</div>
    <div ng-message="maxlength">The field cannot contain more than 30 characters, please try again.</div>
    <div ng-message="compareTo">Your password and confirm password must match, please try again.</div>
    <div ng-message="isValidDate">Dates must be in the following format: mm/dd/yyyy</div>
    <div ng-message="isFutureDate">Date of birth cannot be today's date, or a future date.</div>
    <div ng-message="email">The email address you have provided must be valid, please try again.</div>
    <div ng-message="isValidSSN">Please provide a valid social security number. For example 123456789 or 123-45-6789.</div>
    <div ng-message="isValidPhoneNumber">Please provide a valid telephone number containing a minimum of 10 digits.</div>
    <div ng-message="isValidFiveDigitZipcode">Please provide a valid zip code containing a minimum of 5 digits.</div>
    <div ng-message="isValidTenDigitZipcode">Please provide a zip codes that is no greater than 10 characters.</div>
</script>
<!--TODO to be updated-->

<div class="row" >
    <div class="col-sm-12" >
        <div class="p-xs alert alert-warning" role="alert">
            <strong>All fields with * are required.</strong>
        </div>
    </div>
</div>

<form class="form-horizontal" name="createPatientForm" novalidate>
    <div class="form-group">
        <label class="col-sm-3 col-md-2 control-label">First Name <span class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input type="text" class="form-control" placeholder="First name" ng-model="patientCreateVm.patient.firstName" required ng-minlength="2" ng-maxlength="30" name="firstName">
            <div ng-messages="createPatientForm.firstName.$error" ng-if="createPatientForm.firstName.$dirty" class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-2 control-label">Last Name <span class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input type="text" class="form-control" placeholder="Last name" ng-model="patientCreateVm.patient.lastName" name="lastName" required ng-minlength="2" ng-maxlength="30" >
            <div ng-messages="createPatientForm.lastName.$error" ng-if="createPatientForm.lastName.$dirty" class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-2 control-label">Email <span class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input type="email" class="form-control" placeholder="Email" required ng-model="patientCreateVm.patient.email" mhc-validate-email name="email">
            <div ng-messages="createPatientForm.email.$error" ng-if="createPatientForm.email.$dirty" class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-2 control-label">Gender <span class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-6">
            <div class="radio"><label class="side-padding0"> <input mhc-icheck type="radio" name="gender" ng-model="patientCreateVm.patient.genderCode" value="M" required> Male </label></div>
            <div class="radio"><label class="side-padding0"> <input mhc-icheck type="radio" name="gender" ng-model="patientCreateVm.patient.genderCode" value="F" required> Female </label></div>
            <!--<div class="radio"><label class="side-padding0"> <input mhc-icheck type="radio" name="gender" ng-model="patientCreateVm.patient.genderCode" value="N" required> Not Specified </label></div>-->
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">Date of Birth <span class="text-alert">*</span></label>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
            <input type="text" class="form-control"  name="dateOfBirth" placeholder="Date of birth" required ng-model="patientCreateVm.patient.birthDate" required mhc-datepicker mhc-validate-date>
            <div ng-messages="createPatientForm.dateOfBirth.$error" ng-if="createPatientForm.dateOfBirth.$dirty" class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>
    <!--TODO do no delete-->
    <!--<div class="form-group">-->
        <!--<label class="col-sm-3 col-md-2 control-label">Date of Birth <span class="text-alert">*</span></label>-->

        <!--<div class="col-sm-7 col-md-6">-->
            <!--<div class="row">-->

                <!--<div class="col-xs-6">-->
                    <!--<label for="month" class="sr-only">Month</label>-->
                    <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Month">&ndash;&gt;-->
                    <!--<select id="month" class="form-control">-->
                        <!--<option selected="selected" value="  ">Month</option>-->
                        <!--<option value="01">January</option>-->
                        <!--<option value="02">February</option>-->
                        <!--<option value="03">March</option>-->
                        <!--<option value="04">April</option>-->
                        <!--<option value="05">May</option>-->
                        <!--<option value="06">June</option>-->
                        <!--<option value="07">July</option>-->
                        <!--<option value="08">August</option>-->
                        <!--<option value="09">September</option>-->
                        <!--<option value="10">October</option>-->
                        <!--<option value="11">November</option>-->
                        <!--<option value="12">December</option>-->
                    <!--</select>-->
                <!--</div>-->


                <!--<div class="col-xs-2 side-padding0">-->
                    <!--<label for="day" class="sr-only">Day</label>-->
                    <!--&lt;!&ndash;<input type="text" class="form-control"  id="day" placeholder="Day">&ndash;&gt;-->
                    <!--<select id="day" class="form-control">-->
                        <!--<option selected="selected" value="  ">Day</option>-->
                        <!--<option value="01">01</option>-->
                        <!--<option value="02">02</option>-->
                        <!--<option value="03">03</option>-->
                        <!--<option value="04">04</option>-->
                        <!--<option value="05">05</option>-->
                        <!--<option value="06">06</option>-->
                        <!--<option value="07">07</option>-->
                        <!--<option value="08">08</option>-->
                        <!--<option value="09">09</option>-->
                        <!--<option value="10">10</option>-->
                        <!--<option value="11">11</option>-->
                        <!--<option value="12">12</option>-->
                        <!--<option value="13">13</option>-->
                        <!--<option value="14">14</option>-->
                        <!--<option value="15">15</option>-->
                        <!--<option value="16">16</option>-->
                        <!--<option value="17">17</option>-->
                        <!--<option value="18">18</option>-->
                        <!--<option value="19">19</option>-->
                        <!--<option value="20">20</option>-->
                        <!--<option value="21">21</option>-->
                        <!--<option value="22">22</option>-->
                        <!--<option value="23">23</option>-->
                        <!--<option value="24">24</option>-->
                        <!--<option value="25">25</option>-->
                        <!--<option value="26">26</option>-->
                        <!--<option value="27">27</option>-->
                        <!--<option value="28">28</option>-->
                        <!--<option value="29">29</option>-->
                        <!--<option value="30">30</option>-->
                        <!--<option value="31">31</option>-->
                    <!--</select>-->
                <!--</div>-->


                <!--<div class="col-xs-4">-->
                    <!--<label for="year" class="sr-only">Year</label>-->
                    <!--&lt;!&ndash;<input type="text" class="form-control"  id="year" placeholder="Year">&ndash;&gt;-->
                    <!--<select id="year" class="form-control">-->
                        <!--<option selected="selected" value="    ">Year</option>-->
                    <!--</select>-->
                <!--</div>-->

                <!--<div class="col-xs-12 m-t-sm">-->
                    <!--<div ng-messages="createPatientForm.dateOfBirth.$error" ng-if="createPatientForm.dateOfBirth.$dirty" class="text-alert">-->
                        <!--<div ng-messages-include="admin-messages"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label class="col-sm-3 col-md-2 control-label">Password <span class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input type="password" class="form-control" placeholder="Password" ng-minlength="2" ng-maxlength="30" ng-model="patientCreateVm.patient.password" name="password" required>
            <div ng-messages="createPatientForm.password.$error" ng-if="createPatientForm.password.$dirty" class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-2 control-label">Confirm Password <span class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input type="password" class="form-control" placeholder="Confirm password" ng-minlength="2" ng-maxlength="30" ng-model="patientCreateVm.patient.password2" name="password2" mhc-compare-to="patientCreateVm.patient.password" required>
            <div ng-messages="createPatientForm.password2.$error" ng-if="createPatientForm.password2.$dirty" class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">SSN</label>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
            <input type="text" class="form-control" name="ssn" placeholder="Social security number" mhc-validate-ssn ng-model="patientCreateVm.patient.ssn" >
            <div ng-messages="createPatientForm.ssn.$error" ng-if="createPatientForm.ssn.$dirty" class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">Telephone</label>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
            <input type="text" class="form-control"  name="telephone" placeholder="Telephone" mhc-validate-phone-number ng-model="patientCreateVm.patient.telephone">
            <div ng-messages="createPatientForm.telephone.$error" ng-if="createPatientForm.telephone.$dirty" class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>
    <!--TODO do no delete-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-3 col-md-2 control-label">Telephone</label>-->
        <!--<div class="col-sm-7 col-md-6">-->
            <!--<div class="row">-->

                <!--<div class="col-xs-3 col-md-2 right-padding0">-->
                    <!--<label for="areaCode" class="sr-only">Area Code</label>-->
                    <!--<input type="text" class="form-control"  id="areaCode" placeholder="">-->
                <!--</div>-->


                <!--<div class="col-xs-3 col-md-2 right-padding0">-->
                    <!--<label for="prefix" class="sr-only">Prefix</label>-->
                    <!--<input type="text" class="form-control"  id="prefix" placeholder="">-->
                <!--</div>-->


                <!--<div class="col-xs-5 col-md-3">-->
                    <!--<label for="fourDigits" class="sr-only">Month</label>-->
                    <!--<input type="text" class="form-control"  id="fourDigits" placeholder="">-->
                <!--</div>-->

                <!--<div class="col-xs-12 m-t-sm">-->
                    <!--<div ng-messages="createPatientForm.telephone.$error" ng-if="createPatientForm.telephone.$dirty" class="text-alert">-->
                        <!--<div ng-messages-include="admin-messages"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label class="col-sm-3 col-md-2 control-label">Address</label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input type="text" class="form-control"  name="address" placeholder="Address" ng-model="patientCreateVm.patient.address">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-2 control-label">City</label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input type="text" class="form-control"  name="city" placeholder="City" ng-model="patientCreateVm.patient.city">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-2 control-label">State</label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input type="text" class="form-control"  name="state" placeholder="State" ng-model="patientCreateVm.patient.state">
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">Zipcode</label>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
            <input type="text" class="form-control"  name="zipcode" mhc-validate-zipcode placeholder="Zip Code" ng-model="patientCreateVm.patient.zip" >
            <div ng-messages="createPatientForm.zipcode.$error" ng-if="createPatientForm.zipcode.$dirty" class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-7 col-sm-offset-3 col-md-offset-2">
            <button class="btn btn-white m-r" type="submit">Cancel</button>
            <button class="btn btn-primary dark-green" type="submit" ng-click="patientCreateVm.save()" ng-disabled="!patientCreateVm.canCreate(createPatientForm)">Create Patient</button>
        </div>
    </div>
</form>