<script type="text/ng-template" id="admin-messages">
    <div ng-message="required">This field is required.</div>
    <div ng-message="minlength">This field is too short.</div>
    <div ng-message="maxlength">This field is too Long.</div>
    <div ng-message="compareTo">Password and confirm pasword must match.</div>
    <div ng-message="isValidDate">Invalid date.</div>
    <div ng-message="email">Invalid email.</div>
    <div ng-message="isValidSSN">Invalid social security number.</div>
    <div ng-message="isValidPhoneNumber">Invalid telephone number.</div>
    <div ng-message="isValidZipcode">Invalid zip code.</div>
</script>

<form class="form-horizontal" name="createPatientForm" novalidate>
    <div class="form-group">
        <label class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="First name" ng-model="patientCreateVm.patient.firstName" required ng-minlength="2" ng-maxlength="30" name="firstName">
            <div ng-messages="createPatientForm.firstName.$error" ng-if="createPatientForm.firstName.$dirty">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Last name" ng-model="patientCreateVm.patient.lastName" name="lastName" required ng-minlength="2" ng-maxlength="30" >
            <div ng-messages="createPatientForm.lastName.$error" ng-if="createPatientForm.lastName.$dirty">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">User Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="User name" ng-model="patientCreateVm.patient.username" name="userName" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-3">
            <input type="email" class="form-control" placeholder="Email" required ng-model="patientCreateVm.patient.email" pp-validate-email name="email">
            <div ng-messages="createPatientForm.email.$error" ng-if="createPatientForm.email.$dirty">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-3">
            <div class="radio"><label> <input pp-icheck type="radio" name="gender" ng-model="patientCreateVm.patient.genderCode" value="M" required> Male </label></div>
            <div class="radio"><label> <input pp-icheck type="radio" name="gender" ng-model="patientCreateVm.patient.genderCode" value="F" required> Female </label></div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Date of Birth</label>
        <div class="col-sm-3">
            <input type="text" class="form-control"  name="dateOfBirth" placeholder="Date of birth" required ng-model="patientCreateVm.patient.birthDate" required pp-datepicker >
            <div ng-messages="createPatientForm.dateOfBirth.$error" ng-if="createPatientForm.dateOfBirth.$dirty">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" placeholder="Password" ng-model="patientCreateVm.patient.password" name="password" requried>
            <div ng-messages="createPatientForm.password.$error" ng-if="createPatientForm.password.$dirty">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" placeholder="Confirm password" ng-model="patientCreateVm.patient.password2" name="password2" pp-compare-to="patientCreateVm.patient.password" requried>
            <div ng-messages="createPatientForm.password2.$error" ng-if="createPatientForm.password2.$dirty">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">SSN</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="ssn" placeholder="Social security number" pp-validate-ssn ng-model="patientCreateVm.patient.ssn" >
            <div ng-messages="createPatientForm.ssn.$error" ng-if="createPatientForm.ssn.$dirty">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Telephone</label>
        <div class="col-sm-3">
            <input type="text" class="form-control"  name="telephone" placeholder="Telehone" pp-validate-phone-number ng-model="patientCreateVm.patient.telephone">
            <div ng-messages="createPatientForm.telephone.$error" ng-if="createPatientForm.telephone.$dirty">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-3">
            <input type="text" class="form-control"  name="address" placeholder="Address" ng-model="patientCreateVm.patient.address">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">City</label>
        <div class="col-sm-3">
            <input type="text" class="form-control"  name="city" placeholder="City" ng-model="patientCreateVm.patient.city">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-3">
            <input type="text" class="form-control"  name="state" placeholder="State" ng-model="patientCreateVm.patient.state">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Zipcode</label>
        <div class="col-sm-3">
            <input type="text" class="form-control"  name="zipcode" pp-validate-zipcode placeholder="Zip Code" ng-model="patientCreateVm.patient.zip">
            <div ng-messages="createPatientForm.zipcode.$error" ng-if="createPatientForm.zipcode.$dirty">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-white" type="submit">Cancel</button>
            <button class="btn btn-primary dark-green" type="submit" ng-click="patientCreateVm.save()" ng-disabled="!patientCreateVm.canCreate(createPatientForm)">Create Patient</button>
        </div>
    </div>
    <!--<pre>{{createPatientForm|json}}</pre>-->
</form>