<script type="text/ng-template" id="admin-messages">
    <div ng-message="required">{{"PATIENT_CREATE.CONTENTS_1" | translate}}</div>
    <div ng-message="minlength">{{"PATIENT_CREATE.CONTENTS_2" | translate}}</div>
    <div ng-message="maxlength">{{"PATIENT_CREATE.CONTENTS_3" | translate}}</div>
    <div ng-message="isValidDate">{{"PATIENT_CREATE.CONTENTS_4" | translate}}</div>
    <div ng-message="isFutureDate">{{"PATIENT_CREATE.CONTENTS_5" | translate}}</div>
    <div ng-message="email">{{"PATIENT_CREATE.CONTENTS_6" | translate}}</div>
    <div ng-message="isValidSSN">{{"PATIENT_CREATE.CONTENTS_7" | translate}}
    </div>
    <div ng-message="isValidPhoneNumber">{{"PATIENT_CREATE.CONTENTS_8" | translate}}
    </div>
    <div ng-message="isValidFiveDigitZipcode">{{"PATIENT_CREATE.CONTENTS_9" | translate}}</div>
    <div ng-message="isValidTenDigitZipcode">{{"PATIENT_CREATE.CONTENTS_10" | translate}}</div>
    <div ng-message="isValidName">{{"PATIENT_CREATE.CONTENTS_11" | translate}}
    </div>
</script>


<div class="row">
    <div class="col-sm-12">
        <div class="p-xs alert alert-warning" role="alert">
            <strong>{{"PATIENT_CREATE.CONTENTS_12" | translate}}</strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="text-navy-blue col-sm-offset-3 col-sm-7 col-md-offset-2 col-md-5 col-lg-4">
        <div class="font-bold font-size16 m-t-xs m-b-sm">{{"PATIENT_CREATE.CONTENTS_13" | translate}}</div>
        <div class="row">
            <div class="col-sm-12">
                <div class="m-b border-bottom side-padding15"></div>
            </div>
        </div>
    </div>
</div>
<form class="form-horizontal" name="PatientForm" novalidate>
    <div class="form-group">
        <label for="firstName" class="col-sm-3 col-md-2 control-label">{{"PATIENT_CREATE.CONTENTS_14" | translate}} <span
                class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input id="firstName"
                   name="firstName"
                   type="text"
                   class="form-control"
                   placeholder= "{{'PATIENT_CREATE.CONTENTS_14' | translate}}" c2s-validate-name
                   ng-model="patientCreateEditVm.patient.firstName"
                   required
                   ng-minlength="2"
                   ng-maxlength="30">
            <div ng-messages="PatientForm.firstName.$error" ng-if="PatientForm.firstName.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="lastName" class="col-sm-3 col-md-2 control-label">{{"PATIENT_CREATE.CONTENTS_15" | translate}} <span
                class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input id="lastName"
                   name="lastName"
                   type="text"
                   class="form-control"
                   placeholder="{{'PATIENT_CREATE.CONTENTS_15' | translate}}"
                   ng-model="patientCreateEditVm.patient.lastName"
                   c2s-validate-name
                   required
                   ng-minlength="2"
                   ng-maxlength="30">
            <div ng-messages="PatientForm.lastName.$error" ng-if="PatientForm.lastName.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-3 col-md-2 control-label">{{"PATIENT_CREATE.CONTENTS_16" | translate}} <span class="text-alert">*</span></label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input id="email"
                   name="email"
                   type="email"
                   class="form-control"
                   placeholder="{{'PATIENT_CREATE.CONTENTS_16' | translate}}"
                   c2s-validate-email
                   required
                   ng-model="patientCreateEditVm.patient.email">
            <div ng-messages="PatientForm.email.$error" ng-if="PatientForm.email.$dirty" class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3 col-md-2 control-label bold">{{"PATIENT_CREATE.CONTENTS_17" | translate}} <span class="text-alert">*</span></div>
        <fieldset class="col-sm-7 col-md-6">
            <legend class="hidden">{{"PATIENT_CREATE.CONTENTS_18" | translate}}</legend>
            <div class="radio">
                <label for="male" class="side-padding0">
                    <input id="male"
                           name="gender"
                           type="radio"
                           c2s-icheck
                           ng-model="patientCreateEditVm.patient.genderCode"
                           value="M"
                           required/>&nbsp;&nbsp;{{"PATIENT_CREATE.CONTENTS_19" | translate}}
                </label>
            </div>
            <div class="radio">
                <label for="female" class="side-padding0">
                    <input id="female"
                           name="gender"
                           type="radio"
                           c2s-icheck
                           ng-model="patientCreateEditVm.patient.genderCode"
                           value="F"
                           required/>&nbsp;&nbsp;{{"PATIENT_CREATE.CONTENTS_20" | translate}}
                </label>
            </div>
        </fieldset>
    </div>
    <div class="form-group">
        <label for="dateOfBirth" class="col-xs-12 col-sm-3 col-md-2 control-label">{{"PATIENT_CREATE.CONTENTS_21" | translate}} <span
                class="text-alert">*</span></label>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
            <input id="dateOfBirth"
                   name="dateOfBirth"
                   type="text"
                   class="form-control"
                   placeholder="{{'PATIENT_CREATE.CONTENTS_21' | translate}}"
                   required
                   ng-model="patientCreateEditVm.patient.birthDate "
                   c2s-validate-date
                   c2s-datepicker
                   c2s-format-date>
            <div ng-messages="PatientForm.dateOfBirth.$error" ng-if="PatientForm.dateOfBirth.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-navy-blue col-sm-offset-3 col-sm-7 col-md-offset-2 col-md-5 col-lg-4">
            <div class="font-bold font-size16 m-t-xs m-b-sm">{{"PATIENT_CREATE.CONTENTS_22" | translate}}</div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="m-b border-bottom side-padding15"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="socailSecurityNumber" class="col-xs-12 col-sm-3 col-md-2 control-label">{{"PATIENT_CREATE.CONTENTS_23" | translate}}</label>
        <div class="col-xs-5 col-sm-4 col-md-3">
            <input id="socailSecurityNumber"
                   name="socialSecurityNumber"
                   type="text"
                   class="form-control"
                   placeholder="{{'PATIENT_CREATE.CONTENTS_33' | translate}}"
                   c2s-validate-ssn
                   ng-model="patientCreateEditVm.patient.socialSecurityNumber">
            <div ng-messages="PatientForm.socialSecurityNumber.$error" ng-if="PatientForm.socialSecurityNumber.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="telephoneNumber" class="col-xs-12 col-sm-3 col-md-2 control-label">{{"PATIENT_CREATE.CONTENTS_24" | translate}}</label>
        <div class="col-xs-5 col-sm-4 col-md-3">
            <input id="telephoneNumber"
                   name="telephone"
                   type="text"
                   class="form-control"
                   placeholder="{{'PATIENT_CREATE.CONTENTS_24' | translate}}"
                   c2s-validate-phone-number
                   ng-model="patientCreateEditVm.patient.telephone">
            <div ng-messages="PatientForm.telephone.$error" ng-if="PatientForm.telephone.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="address" class="col-sm-3 col-md-2 control-label">{{"PATIENT_CREATE.CONTENTS_25" | translate}}</label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input id="address"
                   name="address"
                   type="text"
                   class="form-control"
                   placeholder="{{'PATIENT_CREATE.CONTENTS_25' | translate}}"
                   ng-model="patientCreateEditVm.patient.address">
        </div>
    </div>

    <div class="form-group">
        <label for="city" class="col-sm-3 col-md-2 control-label">{{"PATIENT_CREATE.CONTENTS_26" | translate}}</label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <input id="city"
                   name="city"
                   type="text"
                   class="form-control"
                   placeholder="{{'PATIENT_CREATE.CONTENTS_26' | translate}}"
                   ng-model="patientCreateEditVm.patient.city">
        </div>
    </div>

    <div class="form-group">
        <label for="state" class="col-sm-3 col-md-2 control-label">{{"PATIENT_CREATE.CONTENTS_27" | translate}}</label>
        <div class="col-sm-7 col-md-5 col-lg-4">
            <select id="state"
                    name="state"
                    class="form-control"
                    ng-model="patientCreateEditVm.patient.stateCode">
                <option value="">{{"PATIENT_CREATE.CONTENTS_28" | translate}}</option>
                <option ng-repeat="s in patientCreateEditVm.states" value="{{s.code}}"
                        ng-selected="s.code == patientCreateEditVm.patient.stateCode">{{s.displayName}}
                </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="zipcode" class="col-xs-12 col-sm-3 col-md-2 control-label">{{"PATIENT_CREATE.CONTENTS_29" | translate}}</label>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
            <input id="zipcode"
                   name="zipcode"
                   type="text"
                   class="form-control"
                   placeholder="{{'PATIENT_CREATE.CONTENTS_29' | translate}}"
                   c2s-validate-zipcode
                   placeholder="{{'PATIENT_CREATE.CONTENTS_29' | translate}}"
                   ng-model="patientCreateEditVm.patient.zip">
            <div ng-messages="PatientForm.zipcode.$error" ng-if="PatientForm.zipcode.$dirty"
                 class="text-alert">
                <div ng-messages-include="admin-messages"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-7 col-sm-offset-3 col-md-offset-2">
            <button class="btn btn-white m-r" type="button" ng-click="patientCreateEditVm.cancel()">{{"PATIENT_CREATE.CONTENTS_30" | translate}}</button>
            <button class="btn btn-primary dark-green"
                    type="submit"
                    ng-click="patientCreateEditVm.createPatient()"
                    ng-disabled="!patientCreateEditVm.canCreate(PatientForm)"
                    ng-if="!patientCreateEditVm.isEditMode()">
                {{"PATIENT_CREATE.CONTENTS_31" | translate}}
            </button>
            <button class="btn btn-primary dark-green"
                    type="submit"
                    ng-click="patientCreateEditVm.updatePatient()"
                    ng-disabled="!patientCreateEditVm.canCreate(PatientForm)"
                    ng-if="patientCreateEditVm.isEditMode()">
                {{"PATIENT_CREATE.CONTENTS_32" | translate}}
            </button>
        </div>
    </div>
</form>