<form class="form-horizontal" name="createPatientForm" novalidate>
    <div class="form-group">
        <label class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.firstName"  ng-minlength="2" ng-maxlength="30" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.lastName" ng-minlength="2" ng-maxlength="30" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">User Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.username" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.email" ng-pattern="emailPattern" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.genderCode">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Date of Birth</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.birthDate">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Password</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.password">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">SSN</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.ssn">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Telephone</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.telephone">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.address">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">City</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.city">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.state">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Zipcode</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="patientCreateVm.patient.zip">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-white" type="submit">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-click="patientCreateVm.save()">Create Patient</button>
        </div>
    </div>
</form>