<div>
    <script type="text/ng-template" id="search-patient-messages">
        <div ng-message="required">{{"PATIENT_CREATE.CONTENTS_1" | translate}}</div>
        <div ng-message="minlength">{{"PATIENT_CREATE.CONTENTS_2" | translate}}</div>
        <div ng-message="maxlength">{{"PATIENT_CREATE.CONTENTS_3" | translate}}</div>
        <div ng-message="isValidDate">{{"PATIENT_CREATE.CONTENTS_4" | translate}}</div>
        <div ng-message="isFutureDate">{{"PATIENT_CREATE.CONTENTS_5" | translate}}</div>
    </script>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info" role="alert">
                <strong>{{"PATIENT_MED_DOC_SEARCH.CONTENTS_1" | translate}}</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form name="searchPatientForm">
                <fieldset ng-disabled="patientSearchVm.isPatientExist">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="firstName">{{"PATIENT_CREATE.CONTENTS_14" | translate}}</label>
                            <input id="firstName"
                                   name="firstName"
                                   type="text"
                                   class="form-control"
                                   placeholder="{{'PATIENT_CREATE.CONTENTS_14' | translate}}"
                                   ng-model="patientSearchVm.patient.firstName"
                                   ng-minlength="2"
                                   ng-maxlength="30"
                                   required>
                            <div ng-messages="searchPatientForm.firstName.$error"
                                 ng-if="searchPatientForm.firstName.$dirty"
                                 class="text-alert">
                                <div ng-messages-include="search-patient-messages"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="lastName">{{"PATIENT_CREATE.CONTENTS_15" | translate}}</label>
                            <input id="lastName"
                                   name="lastName"
                                   type="text"
                                   class="form-control"
                                   placeholder="{{'PATIENT_CREATE.CONTENTS_15' | translate}}"
                                   ng-model="patientSearchVm.patient.lastName"
                                   ng-minlength="2"
                                   ng-maxlength="30"
                                   required>
                            <div ng-messages="searchPatientForm.lastName.$error"
                                 ng-if="searchPatientForm.lastName.$dirty"
                                 class="text-alert">
                                <div ng-messages-include="search-patient-messages"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="genderCode">{{"PATIENT_CREATE.CONTENTS_17" | translate}}</label>
                            <select id="genderCode"
                                    name="genderCode"
                                    class="form-control"
                                    ng-model="patientSearchVm.patient.genderCode" required>
                                <option value="" disabled>{{"PATIENT_MED_DOC_SEARCH.CONTENTS_2" | translate}}</option>
                                <option value="M">{{"PATIENT_CREATE.CONTENTS_19" | translate}}</option>
                                <option value="F">{{"PATIENT_CREATE.CONTENTS_20" | translate}}</option>
                            </select>
                            <div ng-messages="searchPatientForm.genderCode.$error"
                                 ng-if="searchPatientForm.genderCode.$dirty"
                                 class="text-alert">
                                <div ng-messages-include="search-patient-messages"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="birthDate">{{"PATIENT_CREATE.CONTENTS_21" | translate}}</label>
                            <input type="text"
                                   name="birthDate"
                                   id="birthDate"
                                   class="form-control"
                                   placeholder="{{'PATIENT_CREATE.CONTENTS_21' | translate}}"
                                   ng-model="patientSearchVm.patient.birthDate "
                                   required c2s-datepicker
                                   c2s-format-date c2s-validate-date>
                            <div ng-messages="searchPatientForm.birthDate.$error"
                                 ng-if="searchPatientForm.birthDate.$dirty"
                                 class="text-alert">
                                <div ng-messages-include="search-patient-messages"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-primary dark-green"
                                    type="button"
                                    ng-click="patientSearchVm.search()"
                                    ng-disabled="!patientSearchVm.canSearch(searchPatientForm)">{{"SEARCH_PATIENT" | translate}}
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div ng-if="patientSearchVm.showResult" class="row">
        <div class="col-sm-12 m-t" ng-show="patientSearchVm.isPatientExist">
            <div class="alert alert-success">
                <div class="inline">{{"PATIENT_MED_DOC_SEARCH.CONTENTS_3" | translate}}</div>
            </div>
            <div class="panel panel-default"
                 ng-repeat="patient in patientSearchVm.patientList">
                <div class="panel-heading">
                    <h3>
                        <span>[{{"PATIENT_MED_DOC_SEARCH.CONTENTS_4" | translate}} <span ng-bind="patient.medicalRecordNumber"></span>]</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <p><b>{{"PATIENT_MED_DOC_SEARCH.CONTENTS_5" | translate}} </b>
                        <span ng-bind="patient.firstName"></span>
                        <span ng-bind="patient.lastName"></span>
                    </p>
                    <p><b>{{"PATIENT_MED_DOC_SEARCH.CONTENTS_6" | translate}} </b><span ng-bind="patient.birthDate"></span></p>
                    <p><b>{{"PATIENT_MED_DOC_SEARCH.CONTENTS_7" | translate}} </b><span ng-bind="patient.email"></span></p>
                </div>
            </div>
            <c2s-retrieve-document></c2s-retrieve-document>
        </div>
        <div class="col-sm-12 m-t" ng-show="!patientSearchVm.isPatientExist">
            <i class="fa fa-search"></i>
            <span class="text-muted">{{"PATIENT_MED_DOC_SEARCH.CONTENTS_8" | translate}}</span>
        </div>
    </div>
</div>