<div>
    <script type="text/ng-template" id="search-patient-messages">
        <div ng-message="required">Please complete this required fields.</div>
        <div class="m-t-n-xs m-b-xs" ng-message="isAfterToday">Date of birth cannot be today's date, or a future date.</div>
    </script>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success" role="alert">
                <strong>Please enter the required information below to to retrieve that patient's medical
                    document.</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <form name="searchPatientForm">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="firstName">First Name</label>
                        <input id="firstName" type="text" class="form-control" placeholder="First Name"
                        ng-model="documentSearchVm.patient.firstName" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" type="text" class="form-control" placeholder="Last Name"
                        ng-model="documentSearchVm.patient.lastName" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control" ng-model="documentSearchVm.patient.genderCode">
                                <option value="" disabled>Please Select</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group wrap">
                    <label for="birthDate">Date of Birth</label>
                    <div class="row">
                        <div class="col-xs-12">
                            <mhc-multi-select-date id="birthDate" name="birthDate"
                                                   year-order="desc" start-year="" end-year=""
                                                   ng-model="documentSearchVm.patient.birthDate"
                                                   mhc-check-after-today required
                                                   mhc-outside-click="documentSearchVm.checkDateField(searchPatientForm.birthDate)">
                            </mhc-multi-select-date>
                            <div class="text-alert" ng-if="searchPatientForm.birthDate.$dirty"
                                 ng-messages="searchPatientForm.birthDate.$error">
                                <span ng-messages-include="search-patient-messages"></span>
                            </div>
                            <div class="m-t-n-xs text-alert" ng-if="documentSearchVm.fillOutDate">
                                <span>Please complete all required fields to continue.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary m-b" ng-click="documentSearchVm.search()"
                                ng-disabled="!documentSearchVm.canSearch(searchPatientForm)">Search Patient</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="documentSearchVm.showResult" class="row">
        <div class="col-sm-12">
            <div class="alert alert-success">
                <div class="inline">Your search was successful!</div>
                <div class="inline bold">
                    <span ng-bind="documentSearchVm.firstname"></span>
                    <span ng-bind="documentSearchVm.lastname"></span>
                    <span ng-bind="documentSearchVm.mrn"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label>Purpose of Use</label>
                        <select class="form-control">
                            <option value="" disabled>Please Select</option>
                            <option value="Male">Healthcare Treatment</option>
                            <option value="female">Payment</option>
                            <option value="other">Research</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <button class="btn btn-primary m-b">Retrieve Document</button>
                </div>
            </div>
        </div>
    </div>
</div>